.SelectionGrid {
  margin: 0 0 2rem calc(25%);
  padding: 15px;
  background-color: #EEEEEE;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(3, 150px);
  column-gap: 15px;
  row-gap: 15px;
}

.cell {
  position: relative;
  background-color: white;
}

.cell-selected {
  outline: 5px solid forestgreen;
  opacity: 0.6;
}

.cell img {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
